# FEATURE ENGINEERING: KICKSTARTER INTERMEDIATE DATA

In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [6]:
kick_inter = pd.read_csv('../../data/02_intermediate/kick_inter.csv', 
                         parse_dates=['created_at', 'deadline', 
                                      'last_update_published_at', 
                                      'launched_at', 'state_changed_at'])

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (11,15,16,17,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
cluster_feat_df = pd.read_pickle('../../data/03_processed/KNN_cluster_features_4.pkl')

ModuleNotFoundError: No module named 'pandas.core.internals.managers'; 'pandas.core.internals' is not a package

## Sources

* average exchange rate over a decade - https://www.ofx.com/en-us/forex-news/historical-exchange-rates/yearly-average-rates/
* world regions https://unstats.un.org/unsd/methodology/m49/
* country codes https://laendercode.net/en/2-letter-list.html

In [3]:
pd.set_option('display.max_columns', None)

## Restrict to Successful and Failed Campaings

In [4]:
kick_inter.state.value_counts()

successful    147268
failed        129466
live           38382
canceled       16728
suspended       1055
Name: state, dtype: int64

In [5]:
kick_inter = kick_inter.loc[(kick_inter['state'] == 'successful')|(kick_inter['state'] == 'failed')]

## Features List

**FEATURES TO CREATE (COLUMNS TO KEEP)**
1. blurb - blurb word count
1. launched_at & deadline (length of campaign) 
1. currency
1. delta between created_at and launched_at 
1. sub_category (159 values) 
1. country_loc (210 values) 
1. state_loc
1. goal in USD (goal * fx_rate) 
---
1. **state [TARGET]**

In [6]:
kick_inter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276734 entries, 1 to 332898
Data columns (total 42 columns):
backers_count               276734 non-null int64
blurb                       276732 non-null object
converted_pledged_amount    164263 non-null float64
country                     276734 non-null object
created_at                  276734 non-null datetime64[ns]
currency                    276734 non-null object
currency_symbol             276734 non-null object
currency_trailing_code      276734 non-null bool
current_currency            164263 non-null object
deadline                    276734 non-null datetime64[ns]
disable_communication       276734 non-null bool
friends                     50 non-null object
fx_rate                     156437 non-null float64
goal                        276734 non-null float64
id                          276734 non-null int64
is_backing                  50 non-null object
is_starrable                172753 non-null object
is_starred                  50 non-null object
last_update_published_at    0 non-null datetime64[ns]
launched_at                 276734 non-null datetime64[ns]
name                        276733 non-null object
permissions                 49 non-null object
pledged                     276734 non-null float64
slug                        276734 non-null object
source_url                  239047 non-null object
spotlight                   276734 non-null bool
staff_pick                  276734 non-null bool
state                       276734 non-null object
state_changed_at            276734 non-null datetime64[ns]
static_usd_rate             276734 non-null float64
unread_messages_count       0 non-null float64
unseen_activity_count       0 non-null float64
urls                        276734 non-null object
usd_pledged                 276734 non-null float64
usd_type                    163570 non-null object
sub_category                276734 non-null object
overall_category            276734 non-null object
city                        167436 non-null object
country_loc                 275699 non-null object
state_loc                   275642 non-null object
creator_name                276708 non-null object
creator_slug                85873 non-null object
dtypes: bool(4), datetime64[ns](5), float64(8), int64(2), object(23)
memory usage: 83.4+ MB

In [7]:
kick_inter.head(3)

,backers_count,blurb,converted_pledged_amount,country,created_at,currency,currency_symbol,currency_trailing_code,current_currency,deadline,disable_communication,friends,fx_rate,goal,id,is_backing,is_starrable,is_starred,last_update_published_at,launched_at,name,permissions,pledged,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,unread_messages_count,unseen_activity_count,urls,usd_pledged,usd_type,sub_category,overall_category,city,country_loc,state_loc,creator_name,creator_slug
1,568,for Tabletop Role Playing Games like Dungeons ...,18969.0,US,2019-06-02 21:06:55,USD,$,True,USD,2019-07-18 03:55:00,False,NaN,1.0,5000.0,1175125319,NaN,False,NaN,NaT,2019-06-16 02:20:41,RPG Minimalist Creature Dice & Status / Condit...,NaN,18969.0,rpg-minimalist-creature-dice-and-status-condit...,https://www.kickstarter.com/discover/categorie...,True,False,successful,2019-07-18 03:55:01,1.0,NaN,NaN,"{""web"":{""project"":""https://www.kickstarter.com...",18969.0,domestic,Tabletop Games,games/tabletop games,Holland,US,MI,quEmpire Gaming,quempire
3,80,We have a new album that we are ready to relea...,3691.0,US,2019-06-27 18:36:40,USD,$,True,USD,2019-07-18 03:30:00,False,NaN,1.0,3500.0,920424993,NaN,False,NaN,NaT,2019-06-29 04:17:17,Drank The Gold's new album: Sipped The Silver,NaN,3691.0,drank-the-golds-new-album-sipped-the-silver,https://www.kickstarter.com/discover/categorie...,True,True,successful,2019-07-18 03:30:00,1.0,NaN,NaN,"{""web"":{""project"":""https://www.kickstarter.com...",3691.0,domestic,Music,music,Saratoga Springs,US,NY,Drank The Gold,drankthegold
6,23,Alluvia Magazine is a print publication and cr...,886.0,US,2019-07-01 22:55:44,USD,$,True,USD,2019-07-18 03:20:41,False,NaN,1.0,500.0,1253520992,NaN,False,NaN,NaT,2019-07-03 03:20:41,Alluvia Magazine: Amplifying POC environmental...,NaN,886.0,alluvia-magazine-amplifying-poc-environmental-art,https://www.kickstarter.com/discover/categorie...,True,True,successful,2019-07-18 03:20:41,1.0,NaN,NaN,"{""web"":{""project"":""https://www.kickstarter.com...",886.0,domestic,Zines,publishing/zines,Oakland,US,CA,Zahira Chaudhry,NaN

In [8]:
kick_inter.columns

Index(['backers_count', 'blurb', 'converted_pledged_amount', 'country',
       'created_at', 'currency', 'currency_symbol', 'currency_trailing_code',
       'current_currency', 'deadline', 'disable_communication', 'friends',
       'fx_rate', 'goal', 'id', 'is_backing', 'is_starrable', 'is_starred',
       'last_update_published_at', 'launched_at', 'name', 'permissions',
       'pledged', 'slug', 'source_url', 'spotlight', 'staff_pick', 'state',
       'state_changed_at', 'static_usd_rate', 'unread_messages_count',
       'unseen_activity_count', 'urls', 'usd_pledged', 'usd_type',
       'sub_category', 'overall_category', 'city', 'country_loc', 'state_loc',
       'creator_name', 'creator_slug'],
      dtype='object')

In [9]:
kick_inter.drop(columns=['backers_count', 'converted_pledged_amount', 'country',
                         'currency_symbol', 'currency_trailing_code', 'current_currency', 
                         'friends', 'is_backing', 'is_starrable', 'is_starred',
                         'last_update_published_at', 'permissions', 'pledged', 
                         'slug', 'source_url', 'spotlight', 'staff_pick', 'static_usd_rate', 
                         'unread_messages_count','unseen_activity_count', 'urls', 'usd_pledged', 
                         'usd_type', 'overall_category', 'creator_name', 'creator_slug', 'disable_communication'], 
                inplace=True)

### BLURB WORD COUNT

In [10]:
kick_inter['blurb_word_count'] = kick_inter.blurb.str.split().str.len()

In [11]:
kick_inter.drop('blurb', axis=1, inplace=True)

### LENGTH OF CAMPAIGN

In [12]:
kick_inter['campaign_length'] = (kick_inter['deadline'] - kick_inter['launched_at']).dt.days

### DELTA BETWEEN CREATED AT AND LAUNCHED AT

In [13]:
kick_inter['delta_created_launched'] = (kick_inter['launched_at'] - kick_inter['created_at']).dt.days

### GOAL IN USD

Time Period

In [14]:
kick_inter.created_at.min()

Timestamp('2009-04-21 17:35:35')

In [15]:
kick_inter.created_at.max()

Timestamp('2019-07-10 23:26:41')

### CONVERT GOAL TO USD

Number of null values per currency

In [16]:
kick_inter

,created_at,currency,deadline,fx_rate,goal,id,launched_at,name,state,state_changed_at,sub_category,city,country_loc,state_loc,blurb_word_count,campaign_length,delta_created_launched
1,2019-06-02 21:06:55,USD,2019-07-18 03:55:00,1.000000,5000.0,1175125319,2019-06-16 02:20:41,RPG Minimalist Creature Dice & Status / Condit...,successful,2019-07-18 03:55:01,Tabletop Games,Holland,US,MI,9.0,32,13
3,2019-06-27 18:36:40,USD,2019-07-18 03:30:00,1.000000,3500.0,920424993,2019-06-29 04:17:17,Drank The Gold's new album: Sipped The Silver,successful,2019-07-18 03:30:00,Music,Saratoga Springs,US,NY,14.0,18,1
6,2019-07-01 22:55:44,USD,2019-07-18 03:20:41,1.000000,500.0,1253520992,2019-07-03 03:20:41,Alluvia Magazine: Amplifying POC environmental...,successful,2019-07-18 03:20:41,Zines,Oakland,US,CA,17.0,15,1
7,2019-06-10 16:52:32,USD,2019-07-18 03:00:00,1.000000,6800.0,335137457,2019-06-17 13:21:14,Fae Archaic: A Crime-ridden Fairy Tale REDUX,successful,2019-07-18 03:00:00,Graphic Novels,San Francisco,US,CA,12.0,30,6
8,2019-06-17 23:47:44,USD,2019-07-18 02:57:22,1.000000,600.0,58084093,2019-06-18 02:57:22,Old Queens of Mewni: Star Vs. the Forces of Ev...,successful,2019-07-18 02:57:22,Mixed Media,New Bedford,US,MA,19.0,30,0
11,2019-06-04 16:15:51,USD,2019-07-18 02:45:53,1.000000,5000.0,1117025715,2019-06-18 02:45:53,I have a new song to sing,successful,2019-07-18 02:45:53,Faith,Portland,US,ME,16.0,30,13
13,2019-06-18 02:09:38,USD,2019-07-18 02:14:00,1.000000,100.0,750949205,2019-06-18 03:30:25,The Kid Anders,successful,2019-07-18 02:14:00,Narrative Film,Los Angeles,US,CA,26.0,29,0
14,2019-02-12 22:39:56,USD,2019-07-18 02:08:03,1.000000,3500.0,1852138418,2019-06-18 02:08:03,Angelic Heart Ita Bag and Enamel pins,successful,2019-07-18 02:08:03,Design,Milwaukee,US,WI,5.0,30,125
17,2019-06-21 01:58:55,USD,2019-07-18 01:05:49,1.000000,1000.0,46781774,2019-07-04 01:05:49,Knights of the Slice RADICAL trading cards,successful,2019-07-18 01:05:49,Comics,Richmond,US,VA,14.0,14,12
18,2019-06-16 19:50:05,USD,2019-07-18 01:02:31,1.000000,825.0,1598130539,2019-06-18 01:02:31,"Bringer of the Dawn, Bringer of the Dusk - Ena...",successful,2019-07-18 01:02:31,Art,Lancaster,US,PA,20.0,30,1
22,2019-02-28 02:18:44,EUR,2019-07-18 00:16:21,1.121383,100000.0,1967719903,2019-06-06 00:16:21,MatchPro: Find a partner by using artificial i...,failed,2019-07-18 00:16:21,Software,Benalm√°dena,ES,Andalusia,16.0,42,97
24,2019-06-24 22:16:57,USD,2019-07-18 00:01:00,1.000000,3600.0,1445139804,2019-06-28 21:29:27,Put a Panda on it 3.0: The Wu Self,successful,2019-07-18 00:01:00,Illustration,Langley,US,WA,13.0,19,3
25,2019-06-22 12:55:30,USD,2019-07-18 00:00:00,1.000000,15000.0,819291103,2019-06-24 15:43:22,Fateforge: a 5th Edition Roleplaying Game,successful,2019-07-18 00:00:02,Tabletop Games,Paris,FR,Ile-de-France,21.0,23,2
26,2019-06-17 21:50:34,USD,2019-07-18 00:00:01,1.000000,2000.0,887535033,2019-06-21 00:00:01,Deep Red Returns in Full Color!!,successful,2019-07-18 00:00:02,Comics,New York,US,NY,18.0,27,3
35,2019-04-29 06:07:56,AUD,2019-07-17 22:55:12,0.700985,5000.0,824115050,2019-05-30 22:55:12,HiLashes 2.0 - Magnetic Lashes Reinvented,successful,2019-07-17 22:55:12,Product Design,Sydney,AU,NSW,18.0,48,31
38,2019-05-08 04:33:36,USD,2019-07-17 22:45:44,1.000000,500.0,2003128160,2019-06-17 22:45:44,IshiPrints,failed,2019-07-17 22:45:46,Digital Art,New London,US,CT,14.0,30,40
41,2019-05-27 22:51:02,USD,2019-07-17 22:15:00,1.000000,6000.0,81159415,2019-06-04 18:44:39,Unf*ck Your Anger: How science can help manage...,successful,2019-07-17 22:15:00,Nonfiction,Portland,US,OR,22.0,43,7
46,2019-05-18 17:05:28,USD,2019-07-17 21:14:28,1.000000,3500.0,1428903281,2019-05-18 21:14:28,Publishing book number two,failed,2019-07-17 21:14:29,Young Adult,Fayetteville,US,AR,3.0,60,0
49,2019-06-07 02:10:26,USD,2019-07-17 20:59:57,1.000000,100000.0,1110622119,2019-06-17 20:59:57,Open a community market and cafe to serve our ...,failed,2019-07-17 20:59:58,Spaces,Madison,US,WI,23.0,30,10
51,2019-06-23 17:09:27,SEK,2019-07-17 20:44:00,0.106453,173000.0,1133160588,2019-06-26 17:47:55,Portable Retro Game Console with big 7.9-inch ...,failed,2019-07-17 20:44:00,Gaming Hardware,Gothenburg,SE,Vastra Gotaland,10.0,21,3
53,2019-06-08 14:18:24,USD,2019-07-17 20:42:14,1.000000,7000.0,541634674,2019-06-17 20:42:14,Trans Man With A Microphone,failed,2019-07-17 20:42:14,Webseries,New York,US,NY,20.0,30,9
54,2018-05-05 17:32:21,USD,2019-07-17 20:30:51,1.000000,2500.0,1887640533,2019-06-17 20:30:51,Celestial Cat Enamel Pins,failed,2019-07-17 20:30:51,Accessories,Schenectady,US,NY,6.0,30,408
56,2019-05-15 15:07:39,USD,2019-07-17 20:15:06,1.000000,5000.0,1940089951,2019-06-17 20:15:06,GIGABUSTER - Blazing action platformer (Demo A...,successful,2019-07-17 20:15:07,Video Games,Baltimore,US,MD,17.0,30,33
61,2019-07-08 17:22:23,USD,2019-07-17 19:44:59,1.000000,1500.0,980834458,2019-07-10 19:44:59,Folio #23 The Machine's Madness!,successful,2019-07-17 19:44:59,Tabletop Games,San Marcos,US,CA,11.0,7,2
70,2019-06-03 05:55:25,USD,2019-07-17 19:12:43,1.000000,100.0,2021908288,2019-06-17 19:12:43,violin.play(),successful,2019-07-17 19:12:43,Electronic Music,San Francisco,US,CA,3.0,30,14
71,2019-03-12 18:08:49,USD,2019-07-17 19:03:25,1.000000,30000.0,1876685009,2019-05-18 19:03:25,The Mage Stone,failed,2019-07-17 19:03:26,Fantasy,New York,US,NY,25.0,60,67
72,2019-06-06 14:00:24,USD,2019-07-17 19:01:58,1.000000,3200.0,924121911,2019-06-17 19:01:58,Paul Ryan Presents: Aynnie: The Lil' Orphan Ob...,successful,2019-07-17 19:01:58,Musical,New York,US,NY,13.0,30,11
76,2019-06-25 04:02:38,USD,2019-07-17 18:59:13,1.000000,300.0,1833748911,2019-07-05 18:59:13,Self Love Enamel Pins,successful,2019-07-17 18:59:14,Illustration,Phoenix,US,AZ,12.0,12,10
77,2019-06-08 16:08:10,USD,2019-07-17 18:55:05,1.000000,15000.0,152050702,2019-06-19 18:55:05,kim.,failed,2019-07-17 18:55:06,Performances,Los Angeles,US,CA,17.0,28,11
82,2019-06-09 17:16:53,USD,2019-07-17 18:27:45,1.000000,3000.0,875922255,2019-06-17 18:27:45,Centaur of Attention: Costume Designs & Cospla...,successful,2019-07-17 18:27:46,Art,Denver,US,CO,21.0,30,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332867,2009-05-25 17:20:26,USD,2009-07-01 04:00:00,NaN,1000.0,1143904247,2009-05-29 16:56:20,It Might Become a Movie,successful,2009-07-01 04:00:40,Shorts,NaN,NaN,NaN,28.0,32,3
332868,2009-04-29 09:32:34,USD,2009-06-30 09:32:00,NaN,1500.0,515267366,2009-04-29 11:52:03,Crossword Puzzles!,successful,2009-06-30 09:45:21,Puzzles,NaN,NaN,NaN,24.0,61,0
332869,2009-06-09 20:26:07,USD,2009-06-24 22:26:00,1.000000,600.0,2082649258,2009-06-11 17:42:36,"Frank Magazine Erotica Issue Party, NYC",successful,2009-06-24 22:30:31,Periodicals,New York,US,NY,22.0,13,1
332870,2009-05-18 21:28:54,USD,2009-06-21 03:59:00,1.000000,1000.0,827245452,2009-05-18 23:40:18,Project Pedal,successful,2009-06-21 04:00:29,Documentary,Ypsilanti,US,MI,18.0,33,0
332871,2009-05-30 00:18:23,USD,2009-06-21 00:31:00,NaN,1250.0,1125367305,2009-05-30 04:27:42,Meeting Andrei Tarkovsky - Film Website,successful,2009-06-21 00:45:20,Documentary,Claremont,US,CA,22.0,21,0
332872,2009-05-11 20:11:51,USD,2009-06-20 20:11:00,1.000000,500.0,1873720644,2009-05-14 20:44:29,HAPPY VALLEY: Dexter meets 6 Feet Under. For t...,failed,2009-06-20 20:15:20,Narrative Film,NaN,NaN,NaN,23.0,36,3
332873,2009-04-29 04:14:31,USD,2009-06-17 04:00:00,1.000000,350.0,469734648,2009-04-29 04:43:44,kicey to iceland,successful,2009-06-17 04:00:31,Photography,NaN,NaN,NaN,30.0,48,0
332874,2009-05-10 06:45:59,USD,2009-06-16 06:45:00,1.000000,200.0,1130941392,2009-05-10 07:02:15,Hand made guitar picks,failed,2009-06-16 06:45:17,Crafts,Portland,US,OR,26.0,36,0
332875,2009-04-29 19:52:44,USD,2009-06-15 19:00:00,1.000000,500.0,177921463,2009-04-29 21:11:15,Icons for your iPhone apps,successful,2009-06-15 19:00:31,Software,New York,US,NY,22.0,46,0
332876,2009-05-15 05:10:02,USD,2009-06-15 05:10:00,NaN,1500.0,1839304671,2009-05-15 06:39:20,"Indie Nerd Board Game, Needs Player Character ...",successful,2009-06-15 05:15:19,Tabletop Games,NaN,US,NY,28.0,30,0
332877,2009-05-28 04:11:24,USD,2009-06-15 03:59:00,1.000000,60.0,1451130282,2009-05-30 03:00:36,Comic Remix,successful,2009-06-15 04:00:29,Comics,Cleveland,US,OH,10.0,16,1
332878,2009-05-17 01:17:41,USD,2009-06-15 04:00:00,1.000000,300.0,1081313636,2009-05-17 02:53:25,No-bit: An artist book of analog drawings insp...,failed,2009-06-15 04:00:28,Illustration,NaN,NaN,NaN,30.0,29,0
332879,2009-05-09 00:36:16,USD,2009-06-15 00:36:00,1.000000,30000.0,1301564845,2009-05-11 15:34:54,Anatomy of a Credibility Meltdown ‚Äî a book abo...,failed,2009-06-15 00:45:21,Nonfiction,Washington,US,DC,23.0,34,2
332880,2009-05-14 02:29:17,USD,2009-06-14 02:29:00,NaN,3500.0,39739909,2009-05-14 03:57:40,Choose Your Own Adventure - A Robot Painting S...,failed,2009-06-14 02:30:32,Painting,NaN,NaN,NaN,25.0,30,0
332881,2009-06-08 18:59:22,USD,2009-06-12 18:59:00,1.000000,900.0,598270843,2009-06-08 19:48:31,Travel budget to attend Economic Models for Ne...,failed,2009-06-12 19:00:32,Journalism,Chicago,US,IL,26.0,3,0
332882,2009-05-04 05:32:44,USD,2009-06-06 05:00:00,1.000000,5000.0,772300929,2009-05-04 23:48:21,"""LostLES"" at Tiny's Giant",successful,2009-06-06 05:00:22,Painting,New York,US,NY,20.0,32,0
332883,2009-04-29 22:45:52,USD,2009-06-05 22:45:00,1.000000,500.0,1099226462,2009-04-29 23:32:55,Logical Guess Pictures' 2nd Horror Movie!,successful,2009-06-05 22:45:25,Film & Video,Muncie,US,IN,22.0,36,0
332884,2009-04-22 02:11:10,USD,2009-06-05 06:59:00,1.000000,4000.0,405307432,2009-05-01 15:44:25,Electronola - An electronic gumbo of New Orlea...,successful,2009-06-05 07:00:24,Electronic Music,New Orleans,US,LA,22.0,34,9
332885,2009-04-24 16:01:40,USD,2009-06-05 03:59:00,1.000000,6000.0,1304906577,2009-04-30 20:22:43,Accidental to Edinburgh - PHASE 1: AIRFARE,successful,2009-06-05 04:00:25,Theater,Brooklyn,US,NY,23.0,35,6
332886,2009-05-04 18:09:01,USD,2009-06-04 04:00:00,1.000000,1000.0,1316334968,2009-05-04 20:51:31,Drive A Faster Car 2.0,successful,2009-06-04 04:00:22,Nonfiction,Atlanta,US,GA,21.0,30,0
332887,2009-05-03 05:41:56,USD,2009-06-02 05:42:00,1.000000,200.0,2096107260,2009-05-03 06:37:56,As The Dust Settles,successful,2009-06-02 05:45:19,Film & Video,Los Angeles,US,CA,15.0,29,0
332888,2009-05-07 19:39:32,USD,2009-06-01 16:00:00,NaN,250.0,824394828,2009-05-07 22:45:08,iGoozex - Free iPhone app,failed,2009-06-01 16:00:28,Software,NaN,NaN,NaN,22.0,24,0
332889,2009-04-29 21:13:57,USD,2009-06-01 16:00:00,1.000000,500.0,901991585,2009-05-01 03:06:19,Produce My Play,successful,2009-06-01 16:00:21,Theater,Floyd,US,VA,24.0,31,1
332890,2009-04-30 00:19:59,USD,2009-06-01 00:20:00,NaN,700.0,1100844465,2009-05-04 19:14:28,daily digest,successful,2009-06-01 00:30:19,Documentary,NaN,US,NY,19.0,27,4
332891,2009-05-01 11:38:34,USD,2009-05-31 11:38:00,NaN,2000.0,1578671837,2009-05-01 12:22:21,Support casting my sculpture in bronze,failed,2009-05-31 11:45:17,Sculpture,Bronxville,US,NY,18.0,29,0
332892,2009-04-29 00:09:55,USD,2009-05-29 00:09:00,NaN,500.0,266044220,2009-04-29 00:58:50,Help me write my second novel.,successful,2009-05-29 00:15:21,Fiction,NaN,NaN,NaN,24.0,29,0
332893,2009-05-12 21:26:53,USD,2009-05-22 21:26:00,1.000000,30.0,199916122,2009-05-12 21:39:58,Mr. Squiggles,failed,2009-05-22 21:30:18,Illustration,Bronxville,US,NY,22.0,9,0
332894,2009-04-27 04:44:17,USD,2009-05-16 09:59:00,1.000000,3000.0,2089078683,2009-04-28 11:55:41,New York Makes a Book!!,successful,2009-05-16 10:00:25,Journalism,New York,US,NY,24.0,17,1
332895,2009-04-28 23:10:24,USD,2009-05-15 23:10:00,NaN,300.0,813230527,2009-04-29 03:26:32,Sponsor Dereck Blackburn (Lostwars) Artist in ...,failed,2009-05-16 00:00:18,Rock,NaN,US,IL,25.0,16,0
332898,2009-04-24 19:15:07,USD,2009-05-03 06:59:59,1.000000,20.0,1703704063,2009-04-24 19:52:03,drawing for dollars,successful,2009-05-03 07:00:17,Illustration,NaN,NaN,NaN,26.0,8,0

In [17]:
bool_series = pd.isnull(kick_inter["fx_rate"])  
kick_inter[bool_series].currency.value_counts()

USD    95396
GBP    10819
EUR     4847
CAD     4616
AUD     2470
SEK      539
NZD      462
DKK      341
NOK      228
MXN      209
CHF      194
SGD      103
HKD       73
Name: currency, dtype: int64

Let's fill in the null fx columns with the average exchange rate from the last decade. Our dataset is over a decade so this should work just fine.

In [18]:
avg_fx_rate_10yr = {
    'EUR': 1.231885, 
    'MXN': 0.068639, 
    'USD': 1.000000, 
    'GBP': 1.473741, 
    'CAD': 0.869234, 
    'SEK': 0.131576, 
    'DKK': 0.165301, 
    'HKD': 0.128529, 
    'NOK': 0.14488,
    'AUD': 0.857369, 
    'SGD': 0.757244, 
    'CHF': 1.043232, 
    'NZD': 0.744532
}
currency = ['EUR', 'MXN', 'USD', 'GBP', 'CAD', 
            'SEK', 'DKK', 'HKD', 'NOK', 'AUD', 
            'SGD', 'CHF', 'NZD']

for cur in currency:
    null_exRatesEUR = ((kick_inter.fx_rate.isnull()) & (kick_inter.currency==cur))
    kick_inter.loc[null_exRatesEUR, 'fx_rate']=avg_fx_rate_10yr[cur]

In [19]:
kick_inter['goal_usd'] = kick_inter.goal * kick_inter.fx_rate

In [20]:
kick_inter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276734 entries, 1 to 332898
Data columns (total 18 columns):
created_at                276734 non-null datetime64[ns]
currency                  276734 non-null object
deadline                  276734 non-null datetime64[ns]
fx_rate                   276734 non-null float64
goal                      276734 non-null float64
id                        276734 non-null int64
launched_at               276734 non-null datetime64[ns]
name                      276733 non-null object
state                     276734 non-null object
state_changed_at          276734 non-null datetime64[ns]
sub_category              276734 non-null object
city                      167436 non-null object
country_loc               275699 non-null object
state_loc                 275642 non-null object
blurb_word_count          276732 non-null float64
campaign_length           276734 non-null int64
delta_created_launched    276734 non-null int64
goal_usd                  276734 non-null float64
dtypes: datetime64[ns](4), float64(4), int64(3), object(7)
memory usage: 40.1+ MB

In [21]:
kick_inter.drop(columns=['created_at', 'deadline', 'fx_rate', 'launched_at', 
                         'state_changed_at', 'city', 'state_loc', 'name'], 
                inplace=True)

In [22]:
kick_inter.rename({'goal':'goal_original', 'state':'target', 
                   'sub_category': 'category', 'country_loc':'country'}, 
                  axis=1, inplace=True)

### Drop Duplicated ID

we know from our analysis that there are some IDs with several different names. When we dive in a little further it becomes clear that these are just examples of people changing the name of their campaigns lightly after launching. we will sort and in decending order by created and keep the first date.

In [23]:
counts = kick_inter['id'].value_counts()
kick_inter[kick_inter['id'].isin(counts.index[counts == 2])]

,currency,goal_original,id,target,category,country,blurb_word_count,campaign_length,delta_created_launched,goal_usd
19053,USD,8000.0,965707427,successful,Architecture,US,14.0,15,8,8000.000000
19054,USD,8000.0,965707427,successful,Architecture,US,13.0,15,8,8000.000000
23024,CAD,550.0,790705723,successful,Comic Books,CA,24.0,14,60,413.173475
23025,CAD,550.0,790705723,successful,Comic Books,CA,24.0,14,60,415.370835
29251,EUR,25000.0,1072129063,successful,Apparel,NL,17.0,33,1,28021.942250
29252,EUR,25000.0,1072129063,successful,Apparel,NL,17.0,33,1,28098.633000
48516,USD,5000.0,387484708,successful,Product Design,US,20.0,60,6,6641.395000
48517,USD,5000.0,387484708,successful,Product Design,US,20.0,60,6,5000.000000
57743,EUR,25000.0,1409012589,successful,Apparel,NL,18.0,43,54,28526.080250
57744,EUR,25000.0,1409012589,successful,Apparel,NL,18.0,43,54,28098.633000
67227,USD,2500.0,1135601496,failed,Graphic Design,US,21.0,15,157,2500.000000
67228,USD,2500.0,1135601496,failed,Graphic Design,US,21.0,15,157,2500.000000
70455,USD,30000.0,1003111955,successful,Technology,US,20.0,30,47,30000.000000
70456,USD,30000.0,1003111955,successful,Technology,US,20.0,30,47,30000.000000
72547,EUR,75000.0,476220148,successful,Hardware,DE,18.0,30,83,84700.589250
72548,EUR,75000.0,476220148,successful,Hardware,DE,18.0,30,83,92763.460500
77148,USD,30000.0,2104907208,successful,Hardware,US,23.0,45,610,30000.000000
77149,USD,30000.0,2104907208,successful,Hardware,US,23.0,45,610,30000.000000
81649,USD,7000.0,374473984,successful,Accessories,US,25.0,30,365,7000.000000
81650,USD,7000.0,374473984,successful,Accessories,US,25.0,30,365,7000.000000
96676,USD,500.0,1436747808,failed,Hip-Hop,US,22.0,30,16,500.000000
96677,USD,500.0,1436747808,failed,Hip-Hop,US,22.0,30,16,500.000000
98402,USD,50000.0,405575828,successful,Camera Equipment,US,20.0,30,67,50000.000000
98404,USD,50000.0,405575828,successful,Camera Equipment,US,20.0,30,67,50000.000000
101728,GBP,6000.0,1644028140,successful,Gadgets,GB,24.0,30,18,8842.446000
101729,GBP,6000.0,1644028140,successful,Gadgets,GB,24.0,30,18,8842.446000
102067,EUR,3000.0,1319073749,successful,Comic Books,NL,19.0,30,9,3736.990590
102068,EUR,3000.0,1319073749,successful,Comic Books,NL,19.0,30,9,3713.923860
102240,EUR,25000.0,249618800,successful,Apparel,NL,19.0,39,52,30797.125000
102241,EUR,25000.0,249618800,successful,Apparel,NL,19.0,39,52,28098.633000
...,...,...,...,...,...,...,...,...,...,...
195181,USD,4444.0,2054476698,successful,Indie Rock,US,19.0,30,10,4444.000000
195182,USD,4444.0,2054476698,successful,Indie Rock,US,19.0,30,10,4444.000000
201952,USD,50000.0,255263163,successful,Interactive Design,US,3.0,32,17,50000.000000
201953,USD,50000.0,255263163,successful,Interactive Design,US,18.0,32,17,50000.000000
206986,GBP,500.0,96887393,successful,Conceptual Art,HU,10.0,29,58,709.161515
206987,GBP,500.0,96887393,successful,Conceptual Art,HU,10.0,29,58,736.870500
207889,USD,350.0,162212619,successful,Fine Art,US,16.0,30,0,350.000000
207890,USD,350.0,162212619,successful,Fine Art,US,16.0,30,0,350.000000
225248,USD,3500.0,2034649639,failed,Hip-Hop,US,18.0,21,29,3500.000000
225249,USD,3500.0,2034649639,failed,Hip-Hop,US,18.0,21,29,3500.000000
240680,GBP,1250.0,503000061,failed,Mixed Media,GB,19.0,21,14,1842.176250
240681,GBP,1250.0,503000061,failed,Mixed Media,GB,19.0,21,14,1632.213900
251971,GBP,500.0,273639254,successful,Shorts,GB,22.0,24,5,634.400225
251973,GBP,500.0,273639254,successful,Shorts,GB,22.0,24,5,736.870500
257824,GBP,2375.0,1210399268,failed,Public Art,GB,20.0,30,6,3500.134875
257825,GBP,2375.0,1210399268,failed,Public Art,GB,20.0,30,6,3111.130917
260041,USD,4500.0,237938270,successful,Product Design,US,17.0,32,23,4500.000000
260042,USD,4500.0,237938270,successful,Product Design,US,17.0,32,23,4500.000000
269278,USD,1000.0,1849040930,failed,Mixed Media,US,25.0,60,10,1000.000000
269279,USD,1000.0,1849040930,failed,Mixed Media,US,25.0,60,10,1000.000000
281046,USD,6000.0,990649488,successful,Indie Rock,US,19.0,35,59,6000.000000
281047,USD,6000.0,990649488,successful,Indie Rock,US,19.0,35,59,6000.000000
286488,USD,25000.0,1805635015,successful,Food,US,23.0,25,11,25000.000000
286489,USD,25000.0,1805635015,successful,Food,US,23.0,25,11,25000.000000
307196,USD,3500.0,394648626,successful,Software,US,26.0,30,12,3500.000000
307197,USD,3500.0,394648626,successful,Software,US,26.0,30,12,3500.000000
324528,USD,7750.0,2055334986,successful,Shorts,US,19.0,44,0,7750.000000
324532,USD,7750.0,2055334986,successful,Shorts,US,19.0,44,0,7750.000000
326819,USD,4000.0,2047023433,successful,Film & Video,US,22.0,30,18,4000.000000
326820,USD,4000.0,2047023433,successful,Film & Video,US,22.0,30,18,4000.000000

In [24]:
kick_inter.drop_duplicates(subset=['id'], keep='first', inplace=True)

In [25]:
len(kick_inter)

276679

In [26]:
kick_inter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276679 entries, 1 to 332898
Data columns (total 10 columns):
currency                  276679 non-null object
goal_original             276679 non-null float64
id                        276679 non-null int64
target                    276679 non-null object
category                  276679 non-null object
country                   275644 non-null object
blurb_word_count          276677 non-null float64
campaign_length           276679 non-null int64
delta_created_launched    276679 non-null int64
goal_usd                  276679 non-null float64
dtypes: float64(3), int64(3), object(4)
memory usage: 23.2+ MB

In [27]:
kick_inter.head()

,currency,goal_original,id,target,category,country,blurb_word_count,campaign_length,delta_created_launched,goal_usd
1,USD,5000.0,1175125319,successful,Tabletop Games,US,9.0,32,13,5000.0
3,USD,3500.0,920424993,successful,Music,US,14.0,18,1,3500.0
6,USD,500.0,1253520992,successful,Zines,US,17.0,15,1,500.0
7,USD,6800.0,335137457,successful,Graphic Novels,US,12.0,30,6,6800.0
8,USD,600.0,58084093,successful,Mixed Media,US,19.0,30,0,600.0

In [28]:
kick_inter['successful_dummy'] = pd.get_dummies(kick_inter['target'], drop_first=True)

In [29]:
# we no longer need our ID column anymore
kick_inter.drop(columns=['target'], inplace=True)

We also need to erase our ID column. This doesn't add any information

OK, let's take one last look out our dataset to make sure that we don't have anything else to get rid of.

In [30]:
kick_inter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276679 entries, 1 to 332898
Data columns (total 10 columns):
currency                  276679 non-null object
goal_original             276679 non-null float64
id                        276679 non-null int64
category                  276679 non-null object
country                   275644 non-null object
blurb_word_count          276677 non-null float64
campaign_length           276679 non-null int64
delta_created_launched    276679 non-null int64
goal_usd                  276679 non-null float64
successful_dummy          276679 non-null uint8
dtypes: float64(3), int64(3), object(3), uint8(1)
memory usage: 21.4+ MB

In [31]:
kick_inter.country.isnull().sum()/len(kick_inter)

0.0037407970969968807

In [32]:
kick_inter.dropna(inplace=True)

### Let's combine the location column

In [33]:
# build a world regions dictionary 
world_regions = {
    'Northern America': ['US', 'CA', 'MX', 'GL', 'BM'], 
    'Northern Africa':['MA', 'TN', 'EG', 'LY', 'DZ', 'SD'], 
    'Eastern Africa':['KE', 'MG', 'MW', 'ET', 'UG', 'TZ', 'RW', 'MU', 'ZW', 'SO', 'SC', 'MZ', 'ZM', 'DJ', 
                      'SS'], 
    'Middle Africa':['CM', 'TD', 'CG', 'CD', 'GA', 'GQ', 'CF'], 
    'Southern Africa':['ZA', 'BW', 'SZ', 'LS'], 
    'Western Africa':['GH', 'NG', 'LR', 'SN', 'ML', 'SL', 'NE', 'BF', 'GN', 'GM', 'CI', 'CV', 'MR', 'BJ'], 
    'Caribbean':['HT', 'TT', 'PR', 'DO', 'JM', 'BS', 'CU', 'KY', 'CW', 'GP', 'SX', 'VI', 'BB', 
                 'AG', 'DM', 'LC', 'VC', 'TC', 'KN', 'GD'], 
    'Central America':['GT', 'SV','BZ', 'PA', 'HN', 'CR', 'NI'], 
    'South America':['CO', 'PE', 'VE', 'EC', 'AR', 'BR', 'CL', 'BO', 'SR', 'UY', 'PY', 'GY'], 
    'Central Asia':['KG', 'KZ', 'TJ'], 
    'Eastern Asia':['HK', 'JP', 'CN', 'MN', 'KR', 'MQ', 'TW', 'KP', 'MO'], 
    'South-eastern Asia':['ID', 'SG', 'VN', 'MY', 'TH', 'KH', 'PH', 'MM', 'LA', 'TL'], 
    'Southern Asia':['BD', 'IN', 'LK', 'NP', 'AF', 'PK', 'BT', 'IR', 'MV'], 
    'Western Asia':['IL', 'JO', 'AM', 'LB', 'AE', 'CY', 'PS', 'GE', 'YE', 'IQ', 'KW', 'AZ', 'SA', 
                    'SY', 'QA', 'BH', 'TR'], 
    'Eastern Europe':['PL', 'RO', 'UA', 'MD', 'HU', 'CZ', 'RU', 'BG', 'SK', 'BY', 'FO'], 
    'Northern Europe':['SE', 'GB', 'NO', 'IE', 'DK', 'FI', 'LT', 'IS', 'EE', 'SJ', 'LV', 'AX'], 
    'Southern Europe': ['ES', 'IT', 'HR', 'RS', 'PT', 'SI', 'GR', 'MT', 'BA', 'MK', 'XK', 'GI', 
                        'VA', 'MC', 'AL', 'ME'],
    'Western Europe':['FR', 'CH', 'DE', 'BE', 'NL', 'LU', 'AT', 'MC'], 
    'Australia and New Zealand':['AU', 'NZ'], 
    'Melanesia':['VU', 'PG', 'FJ', 'NC'], 
    'Micronesia':['FM', 'GU', 'KI'], 
    'Polynesia':['WS', 'TO', 'CK', 'PF', 'PN'], 
    'Antarctica': ['AQ']
}

In [34]:
# flip the dictionary to make each individual value in the value list a new key. 
countries_regions = {}
for key, val in world_regions.items():
    for i in range(len(val)):
        countries_regions[val[i]] = key

In [35]:
# let's make a for loop to assign the correct region to the correct country in our dataframe. 
countries = ['US', 'ES', 'FR', 'AU', 'SE', 'CH', 'CA', 'GB', 'IT', 'NO', 'HK',
       'KE', 'MX', 'IE', 'JP', 'DE', 'BE', 'NZ', 'NL', 'CN', 'CO', 'GT',
       'HR', 'PL', 'DK', 'MN', 'ID', 'LU', 'FI', 'KR', 'SG', 'GH', 'HT',
       'BD', 'RS', 'AT', 'TT', 'NG', 'PE', 'SV', 'PT', 'ZA', 'MG', 'VN',
       'MQ', 'IL', 'PR', 'RO', 'TW', 'UA', 'MD', 'JO', 'TR', 'CM', 'SI',
       'IN', 'VE', 'AM', 'EC', 'HU', 'AR', 'LK', 'MA', 'LB', 'BR', 'CL',
       'CZ', 'BO', 'GL', 'MY', 'TH', 'GR', 'MW', 'BZ', 'RU', 'AE', 'KH',
       'DO', 'CY', 'ET', 'UG', 'MT', 'PA', 'HN', 'BG', 'PH', 'LR', 'CR',
       'LT', 'TZ', 'SK', 'TN', 'WS', 'BA', 'IS', 'PS', 'BY', 'SN', 'MK',
       'KG', 'ML', 'SR', 'VU', 'PG', 'EE', 'NP', 'UY', 'GE', 'TD', 'AQ',
       'RW', 'CG', 'FM', 'SL', 'SJ', 'BW', 'TO', 'GU', 'YE', 'MM', 'AF',
       'CK', 'JM', 'CD', 'KZ', 'EG', 'MU', 'ZW', 'FJ', 'XK', 'PY', 'BS',
       'PK', 'CU', 'NI', 'KY', 'LV', 'CW', 'NE', 'GI', 'BF', 'SO', 'LY',
       'GP', 'SC', 'TJ', 'GN', 'GM', 'SX', 'MZ', 'VA', 'IQ', 'BT', 'VI',
       'KW', 'SZ', 'MC', 'CI', 'LA', 'AL', 'GY', 'BB', 'ZM', 'AG', 'DJ',
       'IR', 'DM', 'CV', 'NC', 'DZ', 'KP', 'FO', 'LS', 'TL', 'KI', 'PF',
       'MR', 'LC', 'VC', 'AX', 'MO', 'AZ', 'SA', 'SY', 'PN', 'GA', 'GQ',
       'TC', 'KN', 'QA', 'BJ', 'MV', 'SS', 'SD', 'ME', 'BH', 'GD', 'CF',
       'BM']

for country in countries:
    kick_inter.loc[kick_inter['country']==country, 'world_regions']=countries_regions[country]

In [36]:
kick_inter

,currency,goal_original,id,category,country,blurb_word_count,campaign_length,delta_created_launched,goal_usd,successful_dummy,world_regions
1,USD,5000.0,1175125319,Tabletop Games,US,9.0,32,13,5000.00000,1,Northern America
3,USD,3500.0,920424993,Music,US,14.0,18,1,3500.00000,1,Northern America
6,USD,500.0,1253520992,Zines,US,17.0,15,1,500.00000,1,Northern America
7,USD,6800.0,335137457,Graphic Novels,US,12.0,30,6,6800.00000,1,Northern America
8,USD,600.0,58084093,Mixed Media,US,19.0,30,0,600.00000,1,Northern America
11,USD,5000.0,1117025715,Faith,US,16.0,30,13,5000.00000,1,Northern America
13,USD,100.0,750949205,Narrative Film,US,26.0,29,0,100.00000,1,Northern America
14,USD,3500.0,1852138418,Design,US,5.0,30,125,3500.00000,1,Northern America
17,USD,1000.0,46781774,Comics,US,14.0,14,12,1000.00000,1,Northern America
18,USD,825.0,1598130539,Art,US,20.0,30,1,825.00000,1,Northern America
22,EUR,100000.0,1967719903,Software,ES,16.0,42,97,112138.29800,0,Southern Europe
24,USD,3600.0,1445139804,Illustration,US,13.0,19,3,3600.00000,1,Northern America
25,USD,15000.0,819291103,Tabletop Games,FR,21.0,23,2,15000.00000,1,Western Europe
26,USD,2000.0,887535033,Comics,US,18.0,27,3,2000.00000,1,Northern America
35,AUD,5000.0,824115050,Product Design,AU,18.0,48,31,3504.92510,1,Australia and New Zealand
38,USD,500.0,2003128160,Digital Art,US,14.0,30,40,500.00000,0,Northern America
41,USD,6000.0,81159415,Nonfiction,US,22.0,43,7,6000.00000,1,Northern America
46,USD,3500.0,1428903281,Young Adult,US,3.0,60,0,3500.00000,0,Northern America
49,USD,100000.0,1110622119,Spaces,US,23.0,30,10,100000.00000,0,Northern America
51,SEK,173000.0,1133160588,Gaming Hardware,SE,10.0,21,3,18416.39668,0,Northern Europe
53,USD,7000.0,541634674,Webseries,US,20.0,30,9,7000.00000,0,Northern America
54,USD,2500.0,1887640533,Accessories,US,6.0,30,408,2500.00000,0,Northern America
56,USD,5000.0,1940089951,Video Games,US,17.0,30,33,5000.00000,1,Northern America
61,USD,1500.0,980834458,Tabletop Games,US,11.0,7,2,1500.00000,1,Northern America
70,USD,100.0,2021908288,Electronic Music,US,3.0,30,14,100.00000,1,Northern America
71,USD,30000.0,1876685009,Fantasy,US,25.0,60,67,30000.00000,0,Northern America
72,USD,3200.0,924121911,Musical,US,13.0,30,11,3200.00000,1,Northern America
76,USD,300.0,1833748911,Illustration,US,12.0,12,10,300.00000,1,Northern America
77,USD,15000.0,152050702,Performances,US,17.0,28,11,15000.00000,0,Northern America
82,USD,3000.0,875922255,Art,US,21.0,30,8,3000.00000,1,Northern America
...,...,...,...,...,...,...,...,...,...,...,...
332850,USD,300.0,1573743464,Webseries,LB,22.0,22,2,300.00000,1,Western Asia
332851,USD,3500.0,585544140,Indie Rock,US,25.0,61,0,3500.00000,1,Northern America
332852,USD,640.0,1167151653,Graphic Design,US,19.0,65,0,640.00000,0,Northern America
332854,USD,3000.0,737331933,Video Games,US,24.0,30,0,3000.00000,1,Northern America
332855,USD,3000.0,202333685,Photography,US,18.0,22,3,3000.00000,1,Northern America
332856,USD,3000.0,1971808443,Photography,US,23.0,28,7,3000.00000,1,Northern America
332858,USD,500.0,530647695,Music,US,27.0,49,14,500.00000,1,Northern America
332859,USD,500.0,1864211900,Food,TH,32.0,11,0,500.00000,1,South-eastern Asia
332860,USD,100.0,353710709,Painting,US,25.0,49,0,100.00000,1,Northern America
332869,USD,600.0,2082649258,Periodicals,US,22.0,13,1,600.00000,1,Northern America
332870,USD,1000.0,827245452,Documentary,US,18.0,33,0,1000.00000,1,Northern America
332871,USD,1250.0,1125367305,Documentary,US,22.0,21,0,1250.00000,1,Northern America
332874,USD,200.0,1130941392,Crafts,US,26.0,36,0,200.00000,0,Northern America
332875,USD,500.0,177921463,Software,US,22.0,46,0,500.00000,1,Northern America
332876,USD,1500.0,1839304671,Tabletop Games,US,28.0,30,0,1500.00000,1,Northern America
332877,USD,60.0,1451130282,Comics,US,10.0,16,1,60.00000,1,Northern America
332879,USD,30000.0,1301564845,Nonfiction,US,23.0,34,2,30000.00000,0,Northern America
332881,USD,900.0,598270843,Journalism,US,26.0,3,0,900.00000,0,Northern America
332882,USD,5000.0,772300929,Painting,US,20.0,32,0,5000.00000,1,Northern America
332883,USD,500.0,1099226462,Film & Video,US,22.0,36,0,500.00000,1,Northern America
332884,USD,4000.0,405307432,Electronic Music,US,22.0,34,9,4000.00000,1,Northern America
332885,USD,6000.0,1304906577,Theater,US,23.0,35,6,6000.00000,1,Northern America
332886,USD,1000.0,1316334968,Nonfiction,US,21.0,30,0,1000.00000,1,Northern America
332887,USD,200.0,2096107260,Film & Video,US,15.0,29,0,200.00000,1,Northern America
332889,USD,500.0,901991585,Theater,US,24.0,31,1,500.00000,1,Northern America
332890,USD,700.0,1100844465,Documentary,US,19.0,27,4,700.00000,1,Northern America
332891,USD,2000.0,1578671837,Sculpture,US,18.0,29,0,2000.00000,0,Northern America
332893,USD,30.0,199916122,Illustration,US,22.0,9,0,30.00000,0,Northern America
332894,USD,3000.0,2089078683,Journalism,US,24.0,17,1,3000.00000,1,Northern America
332895,USD,300.0,813230527,Rock,US,25.0,16,0,300.00000,0,Northern America

In [37]:
kick_inter.reset_index(inplace=True, drop=True)

In [38]:
kick_inter.to_pickle('../../data/03_processed/kick_proc.pkl')